/* You can add global styles to this file, and also import other style files */
html {
  min-width: 400px;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;

  background-color: #f0f0f0;
}
